---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
import UrlShortener from '@/components/UrlShortener.astro';
import FileUploader from '@/components/FileUploader.astro';
---

<Layout>
    <main class="min-h-screen">
        <div class="container mx-auto px-56">
            <Header />
            <div class="container mx-auto px-24 py-10 space-y-10">
                <UrlShortener />
                <FileUploader />
                <div class="flex space-x-4 justify-center">
                    <a href="http://localhost:8080/login" 
                        class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded">
                        Login
                    </a>
                    <a href="http://localhost:8080/logout" 
                        class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded">
                        Logout
                    </a>
                </div>
            </div>
        </div>
    </main>
</Layout>